@page "/shadcntesting"
<section class="flex-col">
    <h2>Alert Dialog</h2>
    <div class="flex">
        <Sysinfocus.AspNetCore.Components.Button Text="Show Dialog" Type="Sysinfocus.AspNetCore.Components.ButtonType.Outline" Class="border" OnClick="() => showAlertDialog = true" />
    </div>
</section>

<div class="flex">
    <Select Items="@fruits" Placeholder="Select a fruit" Width="200px" Display="x => x" TItem="string" SelectedItem="@selectedItem" OnItemSelect="x => selectedItem = x" />
</div>

@code
{
    string[] fruits = ["**Fruits**", "Apple", "Banana", "Blueberry", "Grapes", "Pineapple"];
    string? selectedItem = "Grapes";
    bool showAlertDialog;
}