<div class="splash-screen">

<LogoComponent Width="130" Height="60" Color="black"></LogoComponent>
</div>

<style>
    .splash-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #ffffff;
    }

    img {
        width: 200px;
        height: auto;
    }
</style>
